
.app-container{
    width: 100%;
    border: 1px solid red;
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}
.routes-container{
  flex-grow: 1;
  border: 1px solid yellow;
  padding: 10px;
}