.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.popup-box {
  background: #0d0f14;
  color: #e4e7ee;
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,255,153,0.3);
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.allow-btn {
  background: #00ff99;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #000;
  font-weight: 600;
}

.close-btn {
  background: #222;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
}
